body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: black;
    color:darkgrey;
}

.barranav {
    background-color: transparent;
}

.div-icono {
    background-color: #12a1a5 ;
    color: white;
}

.tarjeta {
    background-color: #12a1a5 ;
    color: white;
}

.footer {
    background-color: #12a1a5 ;
    color: white;
}