body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: black;
    color:darkgrey;
}

.barranav {
    transition:500ms ease;
    background:transparent;
}

.barranav.scrolled {
    background:#000;
}

.div-icono {
    background-color: #12a1a5 ;
    color: white;
}

.tarjeta {
    background-color: #12a1a5 ;
    color: white;
}

.btn-formilario {
    background-color: #12a1a5;
}

.footer {
    background-color: #12a1a5 ;
    color: white;
}